.heroBanner {
	padding: 4rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
}

@media screen and (max-width: 966px) {
	.heroBanner {
		padding: 2rem;
	}
}

html[data-theme=""] .logo {
	filter: invert(1);
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.features {
	display: flex;
	align-items: center;
	padding: 2rem 0;
	width: 100%;
}

.featureContainer {
	height: 200px;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-bottom: 2rem;
}

.featureDescription {
	margin-bottom: 2rem;
}
